{% extends 'layout.html'%} {% block content %}

<div class="container col-xxl-8 px-4 py-5" id="home">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="../static/src/library_pic.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Foto de Abby Chung: https://www.pexels.com/es-es/foto/mujer-vestida-con-camisa-marron-con-bolso-de-cuero-negro-en-la-parte-delantera-de-los-libros-de-la-biblioteca-1106468/"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Bookstore</h1>
      <p class="lead">
        This project uses different tools.<br />
        For the frontend I use
        <a href="https://getbootstrap.com/">Bootstrap</a>, for the backend
        <a href="https://flask.palletsprojects.com/">Flask</a>,
        <a href="https://www.mysql.com/">MySQL</a>and also an
        <a href="https://developers.notion.com/">Notion API</a> and like hosting
        i use <a href="https://www.heroku.com/">Heroku</a>.
      </p>

      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <p>
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="/shopping_page"
            >Go to shop!</a
          >
        </p>
        <p>
          <a class="btn btn-outline-secondary btn-lg px-4 me-md-2" href="/cart"
            >Cart</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container col-xxl-8 px-4 py-5" id="features_books">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Features</h2>
      <p class="lead">That are the feature books:</p>
    </div>
    <div class="col-lg-6">
      <img
        src="../static/src/library_pic.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Foto de Abby Chung: https://www.pexels.com/es-es/foto/mujer-vestida-con-camisa-marron-con-bolso-de-cuero-negro-en-la-parte-delantera-de-los-libros-de-la-biblioteca-1106468/"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5" id="bestSeller_books">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="../static/src/library_pic.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Foto de Abby Chung: https://www.pexels.com/es-es/foto/mujer-vestida-con-camisa-marron-con-bolso-de-cuero-negro-en-la-parte-delantera-de-los-libros-de-la-biblioteca-1106468/"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        Best Sellers
      </h2>
      <p class="lead">Best Sellers Books</p>
    </div>
  </div>
</div>
<div class="container col-xxl-8 px-4 py-5" id="books_categories">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Categories</h2>
      <p class="lead">Books Categories</p>
    </div>
    <div class="col-lg-6">
      <img
        src="../static/src/library_pic.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Foto de Abby Chung: https://www.pexels.com/es-es/foto/mujer-vestida-con-camisa-marron-con-bolso-de-cuero-negro-en-la-parte-delantera-de-los-libros-de-la-biblioteca-1106468/"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
  </div>
</div>
{% endblock %}
