<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bookstore | Yassed Matta</title>
    <link
      rel="shortcut icon"
      href="../static/src/Icon.jpg"
      type="image/x-icon"
    />
    <!--Bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <!--Custom CSS-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header
      class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">Bookstore</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/shopping_page" class="nav-link active" aria-current="page"
            >GO TO SHOP!</a
          >
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/login_page" class="nav-link">Admin panel</a>
        </li>
        <li class="nav-item">
          <a href="/cart" class="nav-link">Shopping cart</a>
        </li>
      </ul>
    </header>

    <!--Layout HTML-->
    {% block content %} {% endblock %}
    <!--Layout HTML-->

    <!--Bootstrap-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-..."
      crossorigin="anonymous"
    ></script>
    <!--Custom JS-->
    <script src=""></script>
  </body>
</html>
